@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@400;500&family=Forum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Telugu', sans-serif !important;
    scroll-behavior: smooth;
}
header {
    width: 100%;
    height: 84px;
    padding: 5px 40px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9;
    box-shadow: -1px 0px 40px 0px rgba(0, 0, 0, .1);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
}

.charity {
    font-size: 1.2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.unorder {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-item {
    padding: 20px;
    transition: .3s ease;
}

.item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.sub-arrow {
    line-height: 1;
    padding: 10px 0 10px 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    display: flex;
    align-items: center;
}

.element-btn {
    padding: 12px 18px 6px;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #7a45b5;
    border-radius: 6px;
}

.element-btn a {
    text-decoration: none;
    color: white;
}

.element {
    margin: 10px;
}

.donation_details{
    background-color: #0f0f0f;
    color: #f1f1f1;
    padding: 2.5rem 6rem 5rem;
}
.donation_details_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 2rem; */
}
.donation_details .h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 2rem;
}
.promo{
    font-size: 3rem;
}
.donateButton{
    margin-top: 15px;
    padding: 10px 15px 5px;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 3px;
    background-color: #114799;
}
.donation-promo{
    width: 55%;
}
/* ==============================footer======================= */
.css-footer-main {
    display: flex;
    margin: 20px auto;
    width: 95%;
    flex-direction: row;
}

.css-address {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px;
    color: black;
    text-decoration: none;
}

.css-phone {
    display: flex;
    text-align: center;
}

.css-links {
    width: 18.333%;
}

.foot-css-125 h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 7px;
}

.foot-css-125 ul li {
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.foot-css-125 ul li a {

    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    color: black;
}

.foot-css-125 ul li .icon-f {
    padding: 0 15px;
    font-size: 18px;
    line-height: 1;
}

.css-account {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.css-acc {
    border: 1px solid sliver;
    padding: 1.5rem 1.5rem .5rem;
    width: 100%;
    margin-top: 10px;
    background-color: #1f1f1f;
    border-radius: 6px;
}
.css-account_qr{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.css-d {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 15px;
}
.acc-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    font-weight: 500;
}
.acc-n{
    text-align: left;
    font-weight: 400;
}
.qr_img_f{
    width: 130px;
    height: 130px;
}
.account_qr p{
    margin-top: 10px;
    text-align: center;
    font-size: .9rem;
}
.account_qr img{
    width: 130px;
    height: 130px;
}
.account_qr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile-hamburger {
    display: none;
}

#mobile-nav {
    display: none;
}

.p_qr {
    margin-bottom: 10px;
}

.popup {
    background-color: #05050591;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    transition: 4s ease-in;
}

.block-box {
    width: 390px;
    height: 530px;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    position: relative;
}

.block-box h2 {
    font-size: 2rem;
    /* margin-bottom: 15px; */
}

.block-box h3 {
    margin-top: -40px;
    margin-bottom: 10px;
}

.qr_img {
    width: 262px;
    height: 346px;
}

.button_model {
    padding: 10px 25px 5px;
    border: none;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button_model:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.overlay {
    display: none;
    height: 100vh;
    height: calc(100vh - 10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 1s;
}

.closebtn {
    position: absolute;
    right: .7rem;
    top: .7rem;
    padding: .4rem;
    float: right;
    color: #000;
    text-decoration: none;
}

.closebtn:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 50%;
}

.overlay-content {
    padding: 1rem 2rem;
}

.css-menu {
    text-align: center;
    font-size: 2rem;
    margin-left: 30px;
}

.css-item ul {
    list-style: none;
}

.css-item ul li {
    padding: .5rem 0rem;
    font-size: 1.2rem;
}

.css-item ul li a {
    text-align: left;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
    transition: 0.4s all ease-in;
}
.css-item ul li a:hover {
    background: #114799;
    color: #fff;
}
.css-mobile {
    width: 100%;
    display: block;
    padding: 0.7rem 1.9rem;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border: 1px solid #000;
    margin: 1rem 0;
    transition: .2s ease-out;
}

@media screen and (max-width: 450px) {
    .overlay_text{
        bottom: 2rem;
        border-radius: 8px;
    }
    .overlay_text p{
        font-size: .7rem !important;
    }
    .grid_images{
        margin-top: 20px;
        grid-template-columns: 1fr;
        row-gap: 1.2rem;
    }
    .highlights{
        display: none;
    }
    .nav, .element {
        display: none;
    }

    header {
        padding: 5px 20px !important;
    }

    .mobile-hamburger {
        display: block;
    }

    .css123 {
        margin: 0px 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        align-items: center;
    }

    .head-h {
        font-size: 3rem;
        line-height: 50px;
    }

    .card {
        padding: 25px 30px;
    }

    .main {
        flex-direction: column;
        margin: 10px 20px;
        gap: 4rem;
        align-items: center;
    }

    .left {
        position: relative;
        top: 0;
    }

    .share_icons {
        font-size: 1.9rem !important;
        padding: .4rem !important;
    }
    .right {
        width: calc(100% - 20px);
    }

    .image-l {
        grid-template-columns: 1fr;
    }

    .css243 {
        width: 100%;
    }

    .box, .box-1 {
        flex-direction: column;
        gap: 1rem;
        margin: 40px 0px 30px 0px;
    }

    .image-wapper {
        margin: 0;
    }

    .css-flex-space {
        font-size: .9rem;
    }

    .css-rt {
        padding: 0px;
    }

    .gallery-main {
        flex-direction: column !important;
    }

    .img-box {
        width: 100% !important;
    }

    .css-footer-main {
        flex-direction: column !important;
        align-items: center !important;
        padding: 0 2rem !important;
    }

    .css-links {
        width: 100% !important;
    }

    .css-account {
        width: 100% !important;
    }

    .css_125_matter_p, .css_125_matter_1 {
        margin: 20px 10px 0;
    }
    .css_223_pic_text_img_1 {
        margin: 0px !important;
        max-width: 330px !important;
    }
    .css-acc {
        padding: .7rem .7rem 0rem !important;
        font-size: 0.8rem !important;
    }

    .right_payment_box {
        display: none;
    }

    .promo {
        font-size: 2.5rem !important;
    }

    .css-123-main {
        margin: 0rem 1rem !important;
    }

    .css_223_pic_text {
        flex-direction: column !important;
    }

    .css_223_pic_text_img {
        margin: 0px !important;
        width: 100% !important;
    }

    .cs_123_loaction {
        justify-content: center !important;
    }

    .css_names {
        font-size: .7rem !important;
    }

    .img_bg, .css_125_matter_img {
        height: 350px !important;
        object-position: center;
        object-fit: fill;
    }

    .flex_cards {
        padding: 2rem 1.5rem;
    }

    .donation-element {
        padding: 50px 0px;
    }

    .support_element {
        padding: 1.3rem;
    }

    .main_box {
        margin: 15px 0;
    }

    .css_234_rty {
        justify-content: flex-start;
    }

    .block-box {
        width: calc(100% - 30px);
    }

    .donation_details {
        padding: 3rem 2rem !important;
    }

    .donation_details_flex {
        gap: 2rem !important;
        flex-direction: column !important;
    }

    .donation-promo {
        width: 100% !important;
    }

    .css-account_qr {
        margin-top: 1rem !important;
        width: 100% !important;
    }

    .card_1::after {
        clip-path: circle(30% at 112% 111%);
    }

    .share_elements_mobile {
        display: flex !important;
    }

    .share_elements {
        display: none !important;
    }
    .css_img_flex_123{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .img-l{
        width: 40px;
        height: 40px;
    }
    .title {
        font-size: 1.3rem !important;
    }
    .charity {
        font-size: 1rem !important;
    }    
}